<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>CS Opportunity, <%= @student.firstName %></h1>
    <p>
       Opporunity Title: <%= @job.jobTitle %> <br/>	  <br/>


       Description: <%= @job.jobDesc %>  <br/>	  <br/>


      Type: <%= @job.jobType %> <br/>	  <br/>


     Opportunity Start Date: <%= @job.startDate %><br/>	  <br/>

	 Comments: <%= @job.comments %><br/>	  <br/>

	  <br/>
    </p>

    <p>-CS Connect</p>

  </body>
</html>